@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
// 清除浮动所带来的高度坍塌

@mixin absCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// 媒体查询
/*
0-600px 手机
600-900px  平板(纵向
900-1200px 平板电脑(横向

1200-1800px 正常样式

1800px+ 大型桌面
*/
//test
// @mixin response-phone{
//   @media (max-width: 600px){
//     @content
//   }
// }

/*
断点参数选择
*/
@mixin response($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {  //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {  //1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {  //1800px
      @content;
    }
  }
}
