@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';
@import 'layout/header';
@import "layout/grid";


@import 'pages/home';

@import 'components/button';
@import "components/composition"

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
